<form action="/posts/new" method="get">
  <input class="button" type="submit" value="New Post">
</form>

<% if @posts.empty? %>
  <p>There are no posts yet!</p>
<% end%>

<% @posts.each do | post |%>
  <section class="post section" id="<%=post.id%>">
    <p class="post message"><%=post.message%></p>
    <p class="post author"><%=post.name%></p>
    <form action="/<%=post.id%>/comment" method="get">
      <input type="submit" value="Comment">
    </form>
    <%# get the comments %>
    <% comments = Comment.get_comments_by_post_id(post.id) %>

    <%# Iterate through them %>
    <% if !comments.empty? %>
    <p class="heading_comment">Comments<p>
    <% end %>
    <% comments.each do |comment|%>
      <section class="comment">
      <p><%=comment.comment%></p>
      <p class="post author"><%=comment.name%></p>
      </section>
    <% end %>
  </section>
<% end %>
